<a href="https://colab.research.google.com/github/MateoProjects/UtilsAI/blob/main/Utils_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

In [1]:
import pandas as pd

## Creating and manipulating PD

In [5]:
d = {'col1': [1, 2], 'col2': [3, 4], 'col3': "Hola", 'col4': 0.45}
df = pd.DataFrame(data=d)

In [7]:
df.head()

   col1  col2  col3  col4
0     1     3  Hola  0.45
1     2     4  Hola  0.45

###Types of each column

In [6]:
df.dtypes

col1      int64
col2      int64
col3     object
col4    float64
dtype: object

### Select row by **positioning**

In [12]:
df.iloc[:, 1]

0    3
1    4
Name: col2, dtype: int64

In [10]:
df.loc[0]

col1       1
col2       3
col3    Hola
col4    0.45
Name: 0, dtype: object

### Drop duplicates

In [ ]:
df.drop_duplicates()

### Count all nulls in dataframe

In [9]:
df.isnull().sum().sum()

0

### Drops NA

In [13]:
df.dropna()

   col1  col2  col3  col4
0     1     3  Hola  0.45
1     2     4  Hola  0.45

### Replace all NA/null data with value

In [15]:
df.fillna(3)

   col1  col2  col3  col4
0     1     3  Hola  0.45
1     2     4  Hola  0.45